a.clickable-terms {
	padding: 0.33em 0.66em;
	display: inline-block;
	background: $opplaDarkMidGrey;
	color: #fff;
	margin: 0 6px 6px 0;
	text-decoration: none;
	&:hover {
		background: $opplaBlue;
	}
	&:active {
		background: $opplaDarkBlue;
	}
}

.leaflet-container {margin-top:15px;
	font-family: inherit;
	font-size: 1em
}

.leaflet-popup-content {
	h3 {
		font-size: 1em;
		a {
			color: $opplaDarkGrey;
			text-decoration: none;
			&:hover {
				color: $opplaBlue;
			}
		}
	}
	p {
		font-size: 0.85em;
		margin: 0.5em 0;
		border-top: 4px solid $opplaBlue;
		padding-top: 5px;
		&.more {
			border-top: none;
			padding-top: 0;
			text-align: right;
			.btn {
				font-size: 1em;
			}
		}
	}
}

.page-case-study-scale #page,
.page-case-study-keywords #page,
.page-case-study-finder #page,
.node-type-case-study #page {
	background: $opplaLightGrey;
}



.node-type-case-study .region-sidebar-second.sidebar,
.page-case-study-keywords .region-sidebar-second.sidebar,
.page-case-study-finder .region-sidebar-first.sidebar  ,
.page-case-studies-group  .region-sidebar-first.sidebar    {
	background: #fff;
	padding: 15px 15px 15px 15px;
	margin-bottom: 15px;
	.views-row {}
	h2.views-label {
		color: $opplaDarkGrey;
		font-size: 1.25em;
		margin: 0 0 0.25em 0;
		//padding-top: 0.5em;
		//border-top: 3px solid $opplaDarkGrey;
		&:not(.views-label-term-node-tid) {
			padding-top: 0.5em;
			margin-top: 0.5em;
			border-top: 3px solid $opplaDarkMidGrey;
		}
	}
	
	.attachment-before {
		border-bottom: 3px solid $opplaDarkMidGrey;
		padding: 0 0 0.75em 0;
		margin:  0 0 0.5em 0;
		.flag-wrapper {
				width: 40%;
				display: inline-block;
				text-align: center;
				.flag {
					@include btn-white(1em);
					font-size: 0;
					padding: 4px 2px;
					background: #fff;
					&:after {
						font-size: 24px;
						line-height: 1.2;
					}
				}
			}
	}
	
	.list ul {
		padding-left: 1em;
		li {
			@include bullets($opplaBlue);
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline
				}
				;
			}
		}
	}
	.views-label-title p {
		@include bullets($opplaBlue)
	}
	.community-teaser.products {
		@include divider(bottom);
		padding: 0;
	}
}
#page .node-case-study.view-mode-full {
	background: #fff;
	padding: 0 15px 15px 15px;
	.field-name-field-image {margin:0 -15px 0 -15px; }
}

.view-case-study-map {
	
	hr {
		border: none;
		@include divider(top);
	}
}
.node-case-study {
	.field ul {
		padding-left: 1em;
		li {
			@include bullets($opplaBlue);
		}
	}
	&.node-teaser {
		background: #fff;
		padding: 15px;
		margin: 1em 0;
		h2 {
			margin: 0 0 0.5em 0
		}
		@media all and (min-width:768px) {
			.field-name-field-image {
				float: right;
				margin: 0 0 1em 1em;
				width: 33%;
			}
		}
		.more-link {
			font-size: 0.85em;
			float: right;
			clear: right;
			margin: 2em 0 0 0
		}
	}

}

.views-field-field-file-upload {
	.file-icon {
		display: none;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			&:before {
				text-decoration: none;
			}
		}
		&:before {
			@include icon-font('\e800');
			font-family: 'oppla_icons_2';
			//&:hover {
				//text-decoration: none;
			//}
		}
	}
}


