
//[role="button"],
.masquerade-switch  ,
.more-link ,
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"]  ,
.page-node-done .links a {
	@include btn-white(1.25em);
}


.btn.blue {@include btn-blue(1.25em);
}

.btn.red {@include btn-red(1.25em);
}

.btn.red.large {@include btn-red(1.5em);
}

.btn.red.small {@include btn-red(1em);
}

.btn.blue.small {@include btn-blue(1em);
}


.btn.small ,
#edit-cancel {@include btn-white(1em);}

#edit-cancel {margin-left:1em}
    
    
    
textarea,
input[type='text'],
input[type='email'],
input[type='password'],
.block-contact-form-blocks input[type="text"]   {
	padding: 10px 0;
	text-indent: 5px;
	background: $opplaTint;
	border: 2px solid $opplaBlue;
	width: 100%;
	max-width: auto;
	&:focus {
		background: #fff;
	}
}

textarea {
	text-indent: 0;
	padding: 10px 1%;
	idth: 98%;
}


.resizable-textarea .grippie {}

button, input, select, textarea {max-width:auto}


//  --- Default accordion ---   


.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: none
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-state-default .ui-icon {
	background-image: none
}

.ui-accordion .ui-icon {
	background-image: none!important
}

.ui-accordion .ui-corner-all,
.ui-accordion .ui-corner-top,
.ui-accordion .ui-corner-bottom {
	@include border-radius(0);
	border: none
}



.ui-accordion {
	margin-bottom: 1em
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-active {
	color: $opplaDarkGrey;
	background-image: none;
	background: $opplaDarkMidGrey;
	border: none;
	border-top: 3px solid #fff!important;
	margin-top: 3px
}

.ui-state-active {
	background: $opplaDarkGrey;
}


.ui-accordion-content {}

.ui-accordion-content-active {height:auto!important;}

.ui-state-active a {
	color: #fff;
}

.ui-widget-content {
	background: $opplaLightGrey;
	border-color: $opplaDarkGrey;
	@include   opplaLowerLozenge();
}

.ui-accordion .ui-accordion-content {
	padding: 1em
}

.ui-accordion .ui-accordion-content .form-item {
	margin: 0
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: $opplaDarkGrey;
	text-decoration: none;
	border: none;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #fff
}

.ui-state-hover a,
.ui-state-hover a:hover {
	color: $opplaBlack;
}

.ui-state-active a:hover {
	color: #fff
}

.ui-accordion label {
	font-size: 0.7em
}

.ui-accordion-icons .ui-accordion-header {
	a {
		padding: 0.5em;
		&:after {
			@include icon-font('\e815');
		}
	}
	&.ui-state-active a:after {
		@include icon-font('\e811');
	}
}



// --- Product Form --- //


.node-form.node-oppla_product-form {
	legend {
		@include headBold;
		color: $opplaDarkGrey;
		text-transform: uppercase;
		&:hover {
			color: $opplaDarkGrey;
			cursor: default
		}
	}
	fieldset {
		.fieldset-wrapper {
			legend {
				color: $opplaDarkGrey;
				font-size: 1.24em;
			}
			margin: 1.25em 0;
			padding:0;
			background: #fff;
		}
		.form-wrapper {
			margin: 0.5em 0;
		}
		&.date-combo {
			margin: 0;
		}
	}
	.form-wrapper {
		margin: 1.25em 0;
	}
	.form-field-name-field-pr-price input.form-text {
		width: auto;
		display: inline-block
	}
	table {
		width: 100%;
		th {
			border: none!important;
		}
		.draggable {
			border-color: #fff;
			&.odd {
				background-color: tint(#000, 88%);
			}
			&.even {
				background-color: tint(#000, 92%);
			}
			&.drag-previous {
				background-color: tint($opplaError, 85%);
			}
			a.tabledrag-handle {}
		}
	}
}


.form-submit {
	margin: 1em 0
}

div:not(.search-block){
    .views-exposed-form .views-exposed-widget {
        padding: 0;
        margin: 0.15em 0.33em;
        &.views-submit-button input {
            font-size: 0.85em;
            margin-right: 1em;
            padding: 0.15em 0.33em;
        }
    }
    .views-exposed-widget.views-submit-button input,
    .form-item-profile-details-field-image-und-0 input.form-submit {
        font-size: 0.85em;
    }
    .views-exposed-widget .views-reset-button {
        padding-left: 1em;
        overflow: auto;
        text-align: right
    }
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
	border-width: 2px
}

.description,
.resizable.textarea-processed.resizable-textarea {
	//max-width: 600px;
}

#user-login .form-submit:after {
	@include icon-font('\e80C');
	font-size: 120%;
}

@media all and (max-width: 768px) {
	.logins {
		text-align: center
	}
}

#user-register-form .form-submit:after {
	@include icon-font('\e80D');
}

label {
	font-size: 1em;
	line-height: 1.2;
	margin-bottom: 0.25em;
}

label:not(.option) {
	text-transform: uppercase
}

.fieldset-wrapper label {
	text-transform: none
}

fieldset {
	//max-width: 600px;
	border: none;
	padding: 0;
	margin: 0;
	.form-item {
		margin: 0.75em 0
	}
	label {
		text-transform: none;
		color: $opplaDarkGrey;
	}
	input.text-full.form-text {
		width: 100%
	}
}

label:not(.option) ,
.views-label {
	@include headBold;
	color: $opplaDarkGrey;
}

html.js .collapsed .fieldset-legend,
html.js .collapsible .fieldset-legend {
	background-image: none
}

html.js .collapsible .fieldset-legend {
	width: 100%;
	margin: 0;
	padding: 0;
	a {padding-left:  0.5em;
		padding-right: 0.5em;
		width: auto;
		color: #fff;
		background: $opplaDarkGrey;
		@include  opplaTopLozenge();
		&:after {
			@include icon-font('\e811');
			
			float:right;
			width: auto;
		}
	}
}

html.js .collapsed {
	height: auto;
	.fieldset-legend a {
		color: $opplaDarkGrey;
		background: $opplaDarkMidGrey;
			@include border-radius(4px); 
		&:after {
			@include icon-font('\e815');
		}
	}
}

html.js .form-item-field-ecosystem-types-tid .collapsed .fieldset-legend a,
html.js .form-item-field-ecosystem-types-tid .collapsible .fieldset-legend a {
	@include opplaTopLozenge();
}

html.js fieldset.collapsed {
	height: auto
}

fieldset {
	color: $opplaDarkGrey;
	background-image: none;
	//max-width: 600px;
	border: none;
	margin:  0.5em 0;
	padding: 0;
	//clear: both;
	float: none;
	legend {
		margin: 0;
		font-size: 1em;
		margin: 0;
		padding: 0;
		width: 100%;
		a {
			color: $opplaDarkGrey;
			font-size: 1em;
			display: block;
			width: 100%;
			text-decoration: none;
			padding: 0.5em 0;
			margin: 0;
		}
		&:hover {
			color: $opplaBlack!important;
		}
		.summary {
			display: none
		}
		legend:hover {
			color: $opplaBlack!important;
		}
	}
	.fieldset-wrapper {
		background: $opplaLightGrey;
		@include opplaLowerLozenge();
		margin: 0;
		padding: 0.25em 0.5em;
		//border-top: 3px solid #fff;
		border-bottom: 3px solid #fff;
		label.option {
			font-size: 0.85em
		}
	}
}

fieldset#edit-picture.form-wrapper {
	display: none
}

.user-info-from-cookie fieldset .fieldset-wrapper,
.comment-form fieldset .fieldset-wrapper {
	padding: 0;
	background: #fff;
	border: none
}
fieldset.captcha.form-wrapper {
	legend span {
		color: $opplaDarkGrey;
	}
	.fieldset-wrapper {
		padding: 0.33em 0.5em
	}
}

// --- Webforms --- //

.webform-component-checkbox {margin-bottom:1em;
	label:not(.option) {text-transform:none}

//.form-checkbox {float:left;clear:right}

.description {float:none;clear:both}


	}



