        .theme_group {
            a#logo.header__logo {
                width: 180px;
                margin-bottom: 0
            }
            #block-search-form,
            #block-system-user-menu {
                clear: none;
                margin-bottom: 0
            }
            #block-search-form {
                margin-right: 1em
            }
            .header__region {
                margin-bottom: 0
            }
            #navigation {
                margin-top: 0.5em
            }
            ul.tabs-primary {
                margin: 0;
            }
            &.node-type-group,
            &.node-type-page,
            &.node-type-post,
            &.node-type-group-page,
            &.page-views {
                #page {
                    background: $opplaLightGrey;
                    h1.page__title.title {
                        img {
                            vertical-align: middle;
                            margin: 1em 1em 0.5em 0;
                        }
                    }
                    .view-display-id-page,
                    .view-mode-full {
                        background: #fff;
                        padding: 0 15px 15px 15px;
                        //@include opplaLozenge();
                        .field-name-field-banner-image {
                            @include opplaTopLozenge();
                            margin: 0 -15px 0 -15px;
                        }
                        .field-name-field-image {
                            margin: 0;
                            padding: 1em 0;
                        }
                    }
                    .view-og-extras-nodes h2.title {
                        font-size: 1.5em;
                        margin-bottom: 1em
                    }
                }
                .sidebar {
                    .region.sidebar {
                        background: #fff;
                        padding: 5px 15px 5px 15px;
                        margin-bottom: 15px;
                        .block {
                            padding: 0;
                            background: #fff;
                            h3 {
                                color: #6d6e71;
                                font-size: 1.25em;
                                margin: 1em 0 1em 0;
                            }
                        }
                    }
                    .item-list ul:not(.pager) {
                        padding-left: 1em;
                        li {
                            @include bullets($opplaBlue);
                        }
                    }
                    .subscribe_link {
                        a {
                            @include btn-white(1.125em);
                            &:hover {}
                        }
                        span.group.manager {
                            font-size: 1.2em
                        }
                    }
                }
            }
            .node-post.node-teaser,
            .node-group.node-teaser {
                h2.page__title.title {
                    img {
                        vertical-align: middle;
                        margin: 0.5em 1em 0.5em 0;
                    }
                }
                .more-link {
                    font-size: 1em;
                    float: right;
                }
            }
            .view-users-profiles-on-comments .views-field-created,
            .view-users-on-comments .views-field-created {
                color: $opplaDarkMidGrey;
                margin: -1em 0 1em 0;
                .views-label {
                    color: $opplaDarkMidGrey;
                    font-family: 'lato-regular', sans-serif;
                }
            }
            .group-members .views-row.community-teaser.products {
                padding: 0.5em 0;
                h2 {
                    font-size: 16px;
                    line-height: 2;
                    //height: 50px;
                    vertical-align: middle;
                    padding: 0.5em 0.5em;
                    margin: 0;
                    img {
                        display: block;
                        vertical-align: middle;
                        position: relative;
                        top: auto;
                        right: auto;
                        float: left;
                        width: 60px;
                        height: 60px;
                        margin: -1.15em 5px -1.15em 0;
                    }
                }
            }
            .views-field-field-file-upload-multi .file-icon {
                display: none
            }
            .node-type-group .sidebar .views-field-field-file-upload-multi .item-list ul {
                padding-left: 0;
                li:before {
                    position: relative;
                    left: auto;
                    @include icon-font2('\e800');
                    margin-right: 0em;
                    fomt-size: 2em;
                }
            }
            .field-name-og-group-ref {
                margin: 1em 0;
                .field-label {
                    padding: 0.15em 0;
                    font-size: 1.125em;
                    margin: 0 1em 0 0
                }
                .field-item {
                    display: inline-block;
                    margin-right: 1em;
                    a {
                        @include btn-white(1em)
                    }
                }
            }
            .quicktabs_main.quicktabs-style-nostyle {
                border: #fff solid 1px;
                border-top: 9px solid #ededed;
                background: #fff
            }
            aside.content_blocks {
                clear: both
            }
            
            
            table {
                * {
                    border: none;
                    background: transparent
                }
                tr:nth-child(2n) {
                    background: #fff
                }
            }
            
            
            .node-post.node-teaser  .field-name-field-image {margin: 1em 0}
            
            // ================  ESCom mini-site ================= //
            &.escom {
                padding-top: 10px;
                font-family: 'source_sans_proregular';
                color: #333;
                font-size: 105%;
                h1,
                h2,
                h3,
                dt,
                legend,
                .field .field-label,
                label:not(.option),
                .views-label {
                    font-family: 'source_sans_probold';
                    font-weight: normal;
                    font-style: normal;
                }
                .toggler,
                .masquerade-switch,
                .more-link,
                .btn,
                button,
                input[type="button"],
                input[type="reset"],
                input[type="submit"],
                .page-node-done .links a,
                .pager a,
                .sidebar .subscribe_link a {
                    font-family: 'source_sans_proregular';
                    font-weight: normal;
                    color: #fff!important;
                    background: tint($escomGreen, 20%);
                    border-color: $escomGreen;
                    @include border-radius(0);
                    &:visited {
                        color: #fff!important;
                    }
                    ;
                    &:hover {
                        color: #fff!important;
                        background: $escomGreen!important;
                        border-color: $escomGreen!important;
                    }
                }
                .pager-current {
                    @include border-radius(0);
                    background: $escomBlue!important;
                    border: 2px solid $escomBlue!important;
                }
                textarea,
                input[type="text"],
                input[type="email"],
                input[type="password"] {
                    border-color: $escomBlue;
                    background: tint($escomBlue, 80%);
                }
                .main-menu .menu li {
                    display: inline-block;
                    border-top: none;
                    width: auto;
                    margin: 0;
                    a {
                        font-family: 'source_sans_proregular';
                        font-size: 1.1em;
                        border-bottom: none;
                        text-align: center;
                    }
                }
                @media all and (min-width: 768px) {
                    .main-menu .menu {
                        display: flex;
                        justify-content: space-around;
                        li {
                            float: none;
                            display: inline-block;
                            border-top: none;
                            width: auto;
                        }
                    }
                }
                @media all and (max-width: 768px) {
                    .main-menu .menu li {
                        padding-left: 1.5%;
                        width: 30%;
                    }
                }
                @media all and (max-width: 500px) {
                    .main-menu .menu li {
                        width: 45%
                    }
                }
                @media all and (max-width: 360px) {
                    .main-menu .menu li {
                        width: 98.5%
                    }
                }
                .header_wrapper {
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-bottom: 0;
                    margin-left: -20px;
                    margin-right: -20px;
                }
                #header {
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-bottom: 15px;
                    background: #fff;
                    a#logo.header__logo {
                        width: 240px;
                    }
                    .header__region {
                        float: right;
                        clear: right;
                        .block.powered-by-oppla {
                            margin-bottom: 0;
                            p {
                                padding-top: 4px;
                                font-family: 'montserrat-semibold', sans-serif;
                                font-weight: normal;
                                font-style: normal;
                                font-size: 0.75em;
                                line-height: 1.1;
                                text-transform: uppercase;
                                img {
                                    float: left;
                                    width: 36px;
                                    height: 36px;
                                    margin: -4px 0.33em 0 0;
                                    //vertical-align: middle;
                                }
                                a {
                                    color: #00aaad;
                                    text-decoration: none;
                                }
                            }
                        }
                        .block.social-links {
                            display: block;
                            float: right;
                            margin: 0 0 1em 0;
                            ul.menu li a {
                                color: #ededed;
                                background: $escomBlue;
                                &:hover {
                                    background: $escomBlue;
                                    color: #fff
                                }
                            }
                        }
                    }
                    .block.search-block {
                        clear: right;
                        clear: right;
                        margin: 0;
                        label {
                            display: none
                        }
                        .views-exposed-widgets {
                            padding: 0;
                            margin: 0;
                            input[type="text"] {
                                border-right: none
                            }
                            .views-exposed-widget {
                                padding: 0;
                                margin: 0;
                                .form-submit {
                                    margin-top: 0;
                                    margin-right: 0;
                                    padding: 8px;
                                    font-family: 'source_sans_proregular';
                                    font-size: 1em;
                                    color: #fff!important;
                                    @include border-radius(0);
                                    border-color: $escomBlue!important;
                                    border-left: none;
                                    background: tint($escomBlue, 20%)!important;
                                    &:hover {
                                        background: $escomBlue!important;
                                    }
                                }
                            }
                        }
                        input.form-text {
                            padding: 8px 0;
                            width: auto;
                        }
                    }
                    #block-system-user-menu {
                        float: right;
                        clear: right;
                        display: block;
                    }
                }
                #navigation {
                    background: $escomBlue;
                    margin: 10px 0 0 0;
                    padding: 17px 0 8px 0;
                    border: none;
                    height: auto;
                    .menu a {
                        font-family: 'source_sans_proregular';
                        font-size: 1.1em;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        &:hover {}
                        &.active {
                            color: #fff;
                        }
                    }
                    .menu li {
                        float: none;
                        border-color: $escomBlue;
                        border-width: 8px;
                        padding-bottom: 0px;
                        &:hover {
                            border-color: #fff;
                        }
                        &.active {
                            border-color: $escomGreen;
                            &:hover {
                                border-color: $escomGreen;
                                cursor: default;
                            }
                        }
                    }
                    .menu li {
                        &.is-active-trail.is-parent.has-children {
                            border-color: #fff;
                        }
                    }
                    .menu li.active a,
                    .menu li.is-active-trail.is-parent.has-children a {
                        color: #fff;
                    }
                }
                .sidebar .item-list ul li:before {
                    color: $escomBlue;
                }
                #page .sidebar .view-header h3,
                #page .sidebar h3.views-label {
                    background: $escomBlue;
                    color: #fff;
                    padding: 5px;
                    margin: 0 0 10px 0;
                }
                &.no-sidebars.page-views #content {
                    width: 100%;
                    margin-right: 0;
                }
                &.view-mode-full #page {
                    @include border-radius(0);
                }
                #page {
                    background-color: rgba(214, 219, 225, 0.83);
                    padding-top: 0;
                    .breadcrumb {
                        padding: 0;
                        background: transparent;
                        border: none;
                    }
                    .column {
                        a:link:not(.btn):not(.more-link):not(.is-active):not(.fieldset-title):not(.tabs-primary__tab-link),
                        a:visited:not(.btn):not(.more-link):not(.is-active):not(.tabs-primary__tab-link) {
                            color: $escomGreen!important;
                        }
                        a:hover:not(.btn):not(.more-link) {
                            color: #6D6E71!important;
                        }
                        .collapsible:not(.collapsed) .fieldset-legend a,
                        .tabs-primary li.is-active a,
                        .tabs-primary li.is-active:hover {
                            color: #fff !important;
                            cursor: default;
                        }
                    }
                    article.view-mode-full {
                        background-color: #Fff;
                        @include border-radius(0);
                        padding: 15px;
                        margin-bottom: 15px;
                    }
                    h1.page__title {
                        color: $escomBlue;
                    }
                    h2,
                    h3,
                    dt,
                    .field .field-label,
                    legend {
                        color: $escomBlue;
                    }
                    .views-row.community-teaser.products h2 {
                        color: $escomBlue;
                        background-color: tint($escomGreen, 50%);
                        img {
                            border-color: $escomBlue;
                        }
                    }
                    .block-quicktabs ul.quicktabs-tabs li.active a {
                        color: $escomBlue;
                        border-color: $escomBlue;
                    }
                    .column .block {
                        margin-top: 0;
                        &.escom-block {
                            background: #fff;
                            margin-right: 0;
                            @media all and (min-width: 768px) {
                                width:48.5%;
                                margin-right: 3%;
                                display: inline-block;
                                float: left;
                            }
                            h2.block-title {
                                color: #fff;
                                background: $escomBlue;
                                margin: 0;
                                @include headReg;
                                font-size: 1.25em;
                                color: #fff;
                                margin: 0;
                                padding: 15px;
                                &:after {
                                    @include icon-font("");
                                    float: right;
                                    font-size: 150%;
                                    line-height: 0.5;
                                }
                            }
                            &.escom-events {
                                margin-right: 0;
                                h2.block-title:after {
                                    @include icon-font("");
                                }
                            }
                            .block-content {
                                height: 450px;
                                overflow: hidden;
                            }
                        }
                    }
                    .region-footer {
                        background: $escomBlue;
                        * {
                            color: #fff!important
                        }
                        hr {
                            color: $escomBlue!important;
                            border-color: $escomBlue
                        }
                        .main-main .menu {
                            display: flex;
                            justify-content: space-around;
                            li {
                                width: auto
                            }
                        }
                    }
                }
                #page .region-footer .block.social-links {
                    clear: left;
                    li a {
                        color: $escomBlue!important;
                        background: #e8e8e8;
                        &:hover {
                            background: #fff;
                        }
                    }
                }
                .flexslider {
                    background: $escomBlue;
                    p {
                        color: #fff;
                        margin: 9px 48px;
                        .btn {
                            float: right;
                            &:hover {
                                background: #000!important
                            }
                        }
                    }
                    .flex-control-paging li a {
                        border-color: #fff;
                        background: $escomGreen;
                        &:hover {
                            background: #fff;
                        }
                        &.flex-active {
                            background: #fff;
                        }
                    }
                    .flex-control-nav {
                        bottom: 10px;
                    }
                }
                // ======== Search results
                .view-escom-search {
                    padding-top: 10px!important;
                    .views-field-type p {
                        color: #c4c4c4
                    }
                }
                // ======== Resources view
                .view-header {
                    padding-top: 10px;
                }
                table.views-table {
                    font-size: 90%;
                    border-color: $escomBlue;
                    tr th {
                        background: $escomBlue;
                        border-color: $escomBlue;
                    }
                    tr td {
                        border-color: $escomBlue;
                        vertical-align: top;
                    }
                }
                &.page-groups-escom-scotland-resources table.views-table th.views-field-field-date {
                    padding-right: 4em
                }
                #page .column .pager a:not(.btn):not(.more-link):not(.is-active):not(.fieldset-title):not(.tabs-primary__tab-link),
                #page .sidebar .subscribe_link a:not(.btn):not(.more-link):not(.is-active):not(.fieldset-title):not(.tabs-primary__tab-link),
                #page .column .pager a:hover,
                #page .sidebar .subscribe_link a:hover,
                #page .column .pager a:active,
                #page .sidebar .subscribe_link a:active {
                    color: #fff!important;
                }
                .filters .region-highlighted .block fieldset .fieldset-wrapper,
                .filters .region-highlighted .block .collapsible .fieldset-legend a {
                    background: tint($escomGreen, 80%);
                    color: $escomGreen!important;
                }
                .filters .region-highlighted .block .collapsed .fieldset-legend a {
                    background: #fff;
                }
                &.page-marketplace .block.block-mefibs:not(.stacked) {
                    border-right: 2px solid $escomBlue
                }
                .view-marketplace.view-id-marketplace>.view-content>.views-row hr.divider,
                .view-case-study-map hr {
                    margin: 0;
                    height: 0;
                    color: $escomBlue;
                    border: none;
                    border-bottom: 2px solid $escomBlue;
                }
                .view-marketplace.view-id-marketplace>.view-content>.views-row,
                .view-case-study-map .node-case-study.node-teaser {
                    margin: 0;
                }
                .view-marketplace.view-id-marketplace>.view-content>.views-row .lhs .img-wrapper img {
                    margin: 10px;
                }
                position:relative;
                .toggler {
                    z-index: 9999;
                    position: fixed;
                    top: 0;
                    left: 0;
                    //width: 100%;
                    background: $escomBlue;
                    border-color: $escomBlue;
                    &:hover {
                        background: $escomBlue!important;
                        border-color: $escomBlue!important;
                    }
                }
            }
            @media all and (max-width: 1020px) {
                &.theme_group.escom .header {
                    padding-left: 10px;
                    padding-right: 10px
                }
            }
            @media all and (max-width: 650px) {
                a#logo.header__logo {
                    margin-top: 0;
                    padding-top: 1em;
                    margin: 0 auto 1em auto!important;
                }
            }
            @media all and (max-width: 768px) {
                &.theme_group.escom {
                    .header {
                        padding-bottom: 10px;
                    }
                    &.open {
                        .toggler {
                            width: 100%;
                        }
                    }
                    #navigation {
                        z-index: 9999;
                        position: fixed;
                        top: 12px;
                        left: 0;
                        right: 0;
                        padding-left: 30px;
                    }
                }
            }
        }