.region-highlighted {
	clear: both;
	padding: 0 ;
	hr {
		border: none;
		border-top: 3px $opplaDarkGrey dotted;
		margin: 1em 0
	}
}

#block-block-7 {
	clear: both;
	position: relative;
	h4 {
		position: absolute;
		top: 0.5em;
		right: 0;
@include headBold;
		font-size: 1.5em;
		line-height: 6rem;
		height: 6rem;
		width: 6rem;
		margin: 0.5rem 0 0 0;
		color: #fff;
		background: $opplaDarkBlue url('img/ask-disc.png') no-repeat center center;
		background-size: 100%;
		//-webkit-transition: all 1s ease;
		@include border-radius(50%);
		text-transform: uppercase;
		//float: right;
		//clear: right;
		text-align: center;
		a {
			color: #fff;
			display: block;
			text-decoration: none;
		}
		&:hover,
		&:hover>a {
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-name: rotateCW;
			animation-name: rotateCW;
		}
		&:hover>a {
			-webkit-animation-name: rotateCCW;
			animation-name: rotateCCW;
		}
	}
	h3 {
		min-height: 5rem;
		font-size: 1.15em;
		float: none;
		clear: left;
		border: 2px $opplaDarkBlue solid;
		margin: 20px 7.5rem 20px 0;
		padding: 0;
		background: #fff;
		@include opplaLozenge();
		overflow: visible;
		position: relative;
		strong {
			min-height: 5rem;
			line-height: 5rem;
@include headBold;
			color: #fff;
			font-size: 1.33em;
			text-align: center;
			width: 28%;
			background: $opplaDarkBlue;
			display: inline-block;
			margin-right: 0.5em;
			position: relative;
			float: left;
			clear: left;
		}
		strong:after,
		strong:before {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		strong:after {
			border-color: rgba(0, 0, 0, 0);
			border-left-color: $opplaDarkBlue;
			border-width: 15px;
			margin-top: -15px;
		}
		strong:before {
			border-color: rgba(0, 0, 0, 0);
			border-left-color: $opplaDarkBlue;
			border-width: 18px;
			margin-top: -18px;
		}
		em {
			color: $opplaDarkBlue;
			@include lato55;
			font-size: 1.1em;
			line-height: 1.2;
			display: inline-block;
			vertical-align: middle;
			margin-left: 2em;
			padding-top: 0.66em;
			float: left;
			width: 60%;
			height: 100%;
			min-height: 5rem;
		}
	}
	h3:after,
	h3:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	h3:after {
		border-color: rgba(136, 183, 213, 0);
		border-left-color: #fff;
		border-width: 15px;
		margin-top: -15px;
	}
	h3:before {
		border-color: rgba(245, 132, 66, 0);
		border-left-color: $opplaDarkBlue;
		border-width: 18px;
		margin-top: -18px;
	}
}

@media all and (max-width: 768px) {
	#block-block-7 {
		h4 {
			margin-top: 1rem;
		}
		h3 {
			min-height: 6rem;
			strong {
				min-height: 6rem;
			}
			em {padding-top: 1em;}
		}
	}
}

@media all and (max-width: 700px) {
	#block-block-7 {
		h4 {
			margin-top: 1rem;
		}
		h3 {
			min-height: 6rem;
			padding: 0;
			height: auto;
			line-height: 1.2;
			background: $opplaDarkBlue;
			&:before, &:after {
				border-left-color: $opplaDarkBlue;
			}
			strong {text-align: left;
				height: auto;
				&:after, &:before {
					border: none;
				}
			}
			em {padding-bottom: 0.5em;}
			
		}
	}
	#block-block-7 h3 {
		strong, em {
			height: auto;
			min-height: 3rem;
			line-height: 1.2;
			display: block;
			color: #fff;
			margin: 0;
			width: auto;
			padding: 0 0.5em;
			float: none;
		}
		strong {
			line-height: 3rem
		}
	}
}

@media all and (max-width: 600px) {
	#block-block-7 {
		h4 {
			margin-top: 1.25rem;
		}
		h3 {padding:4px 0;min-height: 4rem;
			strong {line-height: 1.2;
				min-height: 2rem;
			}
			em {
				min-height: 4rem;
			}
		}
	}
}
@media all and (max-width: 400px) {
	#block-block-7 {
		//text-align: center;
		h4 {
			position: relative;
			margin: 0 auto;
			display: block;
			top: auto;
			right: auto;
		}
		h3 {text-align: center;
			min-height: auto;
			width: 100%;
			margin-right: 0;
			strong {text-align: center;;
				min-height: auto;
			}
			em {text-align: center;
			min-height: auto;
		}
		}
		h3:after,
		h3::before {
			left: 49%;
			top: 120%;
		}
		h3:after {
			border-color: rgba(0, 0, 0, 0);
			border-top-color: $opplaDarkBlue;
			border-width: 15px;
			margin-left: -15px;
		}
		h3:before {
			border-color: rgba(0, 0, 0, 0);
			border-top-color: $opplaDarkBlue;
			border-width: 18px;
			margin-left: -18px;
		}
		
	}
}


@-webkit-keyframes rotateCW {
	0% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(-360deg);
	}
	100% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(0);
	}
}

@keyframes rotateCW {
	0% {
		transform-origin: center center;
		transform: rotate(-360deg);
	}
	100% {
		transform-origin: center center;
		transform: rotate(0);
	}
}

@-webkit-keyframes rotateCCW {
	0% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform-origin: center center;
		-webkit-transform: rotate(-360deg);
	}
}

@keyframes rotateCCW {
	0% {
		transform-origin: center center;
		transform: rotate(0);
	}
	100% {
		transform-origin: center center;
		transform: rotate(-360deg);
	}
}