/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */

@import "init";
/* HTML element (SMACSS base) rules */

@import "normalize";
/* Layout rules */

@import "layouts/responsive";
/* Component (SMACSS module) rules */

@import "components/misc";
// Optionally, add your own components here.
@import "print";
/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
/*/Brand colours
		Teal colour #009ba4
		Teal tint colour #d5ecef
		Grey colour #6D6E71
		/*/

@import "mixins";

/* === NAVIGATION === */

@import "navigation";

@import "flippy";

/* === TYPE === */

@import "fonts";

/* === TYPESETTING === */

html,
body {
	color: $opplaDarkGrey;
	font-size: 18px;
	font-size: 100%;
	line-height: 1.4;
	font-family: 'lato-regular';
	padding: 0;
	margin: 0;
	&:not(.cke_editable) {
		background: $opplaTint;
	}
}

h1,
h2,
h3,
dt,
legend {
	font-family: 'montserrat-semibold';
	font-weight: normal;
	line-height: 1.2;
	color: $opplaDarkGrey;
}

h1.page__title {
	font-family: 'montserrat-regular';
	margin-bottom: 0.5em
}

h2,
h3,
dt,
legend {
	font-size: 2em;
	color: $opplaBlue;
	margin: 1em 0 0.25em
}

h3,
dt {
	font-size: 1.5em;
}

li {
	margin: 0 0 0.5em
}

p,
dd,
ul:not(.tabs-primary) li:last-child {
	margin: 0 0 1em 0
}

a:link,
a:visited {
	color: $opplaBlue
}

hr {
	color: $opplaMidGrey;
	height: 2px;
	border: none;
	border-top: 2px solid $opplaMidGrey;
	margin: 1em 0;
	clear: both;
	float: none
}

.views-row-last hr {
	display: none
}
/* === HEADER === */

//.header * { border:1px red dotted}
a#logo.header__logo {
	float: left;
	clear: left;
	width: 300px;
	margin: 0 0 1em 0;
	display: block;
	.header__logo img {
		width: 100%;
		height: auto
	}
}

//.field-name-field-image img {
//	width: 100%;
//	max-width: 930px;
//	height: inherit;
//	margin: 0
//}
#block-block-2 {
	float: right;
	clear: right
}

.header__region {
	clear: none;
	margin-bottom: 1em;
	float: right;
	clear: right;
}

@media all and (max-width: 600px) {}
/* ---- Search box ---- */

#block-search-form * {
	border: none;
	padding: 0;
	margin: 0;
	background: transparent
}

#block-search-form {
	float: right;
	clear: right;
	border: 1px solid $opplaDarkGrey;
	padding: 6px 6px 2px 6px;
	margin: 0 0 1em 0;
	width: 300px;
	@include opplaLozenge();
	.custom-search-box.form-text {
		width: 282px;
		float:none;
		font-size: 1em;
		padding: 1px 0 5px 0;
	}
	.custom-search-button {
		float: right;
		height: 18px;
		width: 18px;
	}
}
/* ---- Social links ---- */

#block-menu-menu-social-links {
	float: right;
	margin-right: 1em;
}

@import "social_links";

#block-menu-menu-social-links {}


/* === USER MENU === */

#block-system-user-menu {
	float: right;
	clear: right;
	margin: 0;
	padding: 0;
	.menu {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			display: inline-block;
			margin-right: 0.5em;
		}
		li.last {
			margin-right: 0
		}
		a {
			@include btn-white(1em);
		}
		.ask {
			background: $opplaDarkBlue;
			border-color: $opplaDarkBlue;
			color: #fff!important;
			&:hover {
				background: $opplaDarkBlue!important;
				border-color: $opplaDarkBlue!important;
			}
			span {
//				padding: 0.2em 0.2em;
//				border: 0.2em solid $opplaGold;
//				@include opplaLozenge();
			}
		}
		.logout:after {
			@include icon-font('\e80C');
			font-size: 120%;
		}
		.login:after,
		.myaccount:after {
			@include icon-font('\e816');
			font-size: 120%;
		}
	}
}

@media all and (max-width: 768px) {

	#block-system-user-menu  .myaccount span  {display:none}
}


@media all and (max-width: 768px) {
	
}

/* ---- Header responsive ---- */


@media all and (max-width: 960px) {
	
	#block-search-form {
		width: 238px;
		.custom-search-box.form-text {
			width: 220px;
		}
		
	}
	
}

@media all and (max-width: 768px) {
	.header__region {position: relative;
		clear: none;
		float: none;
	}
	#block-menu-menu-social-links {
		display: none
	}
	#block-system-user-menu .menu {
		a {
			&.myacount {
				text-indent:0;
				&:after {
					text-indent: 0px;
				}
			}
		}
	}
	#block-search-form {
		width: 218px;
		.custom-search-box.form-text {
			width: 200px;
		}
	}
}

@media all and (max-width: 600px) {
		a#logo.header__logo {
		margin-top: 0;
		float: none;
		clear: both;
		display: block;
		margin: 1em auto;
		text-align: center
	}

}
@media all and (max-width: 480px) {
	.toggler,
	#block-search-form {
		float: none;
		clear: both;
		display: block;
		margin: 0 auto 1em auto;
	}
	.toggler {
		width: auto;
		display: inline-block;
		margin: 0 0 1em 0;
	}
	#block-search-form {
		width: 94%;
		padding-right: 3%;
		padding-left: 3%;
		.custom-search-box.form-text {
			width: inherit;
			width: 80%;
			display: inline-block;
			margin-right: 24px
		}
		.custom-search-button {
			width: 10%;
			max-width: 18px
		}
	}
	#block-system-user-menu {
		position: absolute;
		top: 0px;
		right: 0px
	}
	a#logo.header__logo {
		width: 95%;
		margin: 1em 2.5%
	}
}
/* ---- FRONT PAGE ---- */

@import "flexslider";

.front #content.column {
	background: $opplaBlue;
	overflow: auto;
	padding: 0 25px 25px 25px;
	margin: 0 -10px 25px -10px;
	.node-page {
		float: left;
		width: 30%;
		padding: 0;
	}
	h1 {
		color: $opplaBlack;
		background: $opplaBlue;
		margin-bottom: 0;
		margin-left: -25px;
		margin-right: -25px;
		padding: 1rem 0.5rem 1rem 25px;
		em {
			color: #fff;
			font-style: normal
		}
	}
	h3 {
		color: #fff;
		ont-size: 1em;
		font-weight: normal;
		font-family: 'montserrat-regular';
		margin: 0;
	}
	p {
		font-family: 'montserrat-regular';
		font-size: 1.1em;
		color: #fff;
	}
}

.btn.join {
	margin-top: 1em
}

.btn.join:after {
	@include icon-font('\e80D');
	font-size: 110%
}

#block-views-front-page-banner-block-block,
#block-block-6  {
	float: right;
	background: $opplaBlue;
	margin: 0 0 0em 1.5%;
	width: 66%;
	img {
		width: 100%
	}
	p {
		margin: 0
	}
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style: none
	}
}

@media all and (max-width: 768px) {
	#block-views-front-page-banner-block-block,
	#block-block-6 {
		float: none;
		clear: both;
		margin: 1em 0;
		width: 100%;
		text-align: center;
		p {
			text-align: center;
		}
		img {
			text-align: center;
			display: inline-block;
			margin: 0 auto;
		}
	}
	.front #content.column {
		.node-page {
			float: none;
			clear: both;
			margin: 1em 0;
			width: 100%;
		}
	}
}


/* ---- HIGHLIGHTED BLOCKs ---- */


@import "highlighted";


/* ---- CONTENT BLOCKS ---- */

.content_blocks .region-content-blocks {
	width: 101.5%;
	margin-left: -1.5%;
	.block {
		margin: 0 0 1em 1.5%;
		width: 31.833%;
		float: left;
		h2.block-title {font-family: 'montserrat-regular';
			font-size: 1.25em;
			color: #fff;
			margin: 0;
			padding: 15px;
			background: $opplaDarkGrey;
			@include opplaTopLozenge();
			&:after {
				@include icon-font('\e81c');
				float: right;
				font-size: 150%;
				line-height: 0.5
			}
		}
		.block-content {
			background: $opplaLightGrey;
			border-top: 4px solid #fff;
		}
		.block-view-footer {
			font-family: 'montserrat-regular';
			color: $opplaDarkGrey;
			font-size: 1.25em;
			padding: 15px;
			margin: 0;
			background: $opplaDarkMidGrey;
			border-top: 4px solid #fff;
			@include opplaLowerLozenge();
			a {
				color: $opplaDarkGrey;
				text-decoration: none;
				&:hover {
					color: $opplaBlue;
				}
			}
		}
	}
}

.content_blocks .region-content-blocks {
	#block-views-news-articles-block {
		h2.block-title:after {
			@include icon-font('\e81d');
		}
	}
	#block-views-events-block {
		h2.block-title:after {
			@include icon-font('\e81c');
		}
	}
	#block-twitter-block-1 {
		h2.block-title:after {
			@include icon-font('\e802');
		}
	}
}

@media all and (max-width: 768px) {
	.content_blocks .region-content-blocks {
		.block {
			width: 48.5%;
		}
		.block-twitter-block {
			width: 98.5%;
			clear: both;
			float: none
		}
	}
}

@media all and (max-width: 500px) {
	.content_blocks .region-content-blocks {
		.block {
			width: 98.5%;
			clear: both;
			float: none;
		}
	}
}
/* === TWITTER === */

#block-twitter-block-1 .block-content {}

#block-twitter-block-1 iframe {
	width: 100%!important;
	max-width: 100%!important;
}
/* === NEWS / EVENTS BLOCKS === */

#block-views-news-articles-block,
#block-views-events-block {
	.block-content {
		@include opplaTopLozenge();
		.view-content {
			padding: 0 15px;
			.views-row {
				border-top: 3px solid $opplaBlue;
				padding: 8px 0px;
				&.views-row-1 {
					border-top: none;
					padding-top: 6px;
				}
				h3 {
					font-size: 1em;
					margin: 0;
					a {
						color: $opplaDarkGrey;
						text-decoration: none;
						&:hover {
							color: $opplaBlue;
						}
					}
				}
				p,
				.date-display-range {
					font-size: 0.85em;
					line-height: 1.3;
					margin: 0.25em 0
				}
			}
		}
	}
}

@media all and (min-width: 500px) {
	#block-views-news-articles-block .view-content,
	#block-twitter-block-1 .block-content,
	#block-views-events-block .view-content {
		height: 450px;
		overflow: scroll
	}
	#block-twitter-block-1 .block-content {
		overflow: hidden;
		padding: 0 0 0 15px
	}
}
/* === NEWS / EVENTS NODES === */

.node-teaser {
	h2 {
		font-size: 1.5em;
		a {
			color: $opplaDarkGrey;
			text-decoration: none;
			&:visited {
				color: $opplaDarkGrey;
			}
			&:hover {
				color: $opplaBlue;
			}
		}
	}
}

.date-display-range,
.field-name-field-date {
	font-size: 0.85em;
	margin: 0.5em 0
}

.field-name-field-link {
	float: left;
	clear: left;
	margin: 1em 0
}

/* === ASK NODE === */

.field-type-taxonomy-term-reference.field-label-above .field-item {
	display: inline;
	&:after {
		content: ",";
		padding-right: 0.5em;
	}
	&:last-child:after {
		content: " ";
		padding-right: 0em;
	}
}

.field-group-accordion-wrapper h3:first-child {
	@include opplaTopLozenge();
}

.node-oppla_question-form .form-item .description {
	font-size: 1em;
	p {
		margin: 0.5em 0
	}
}



//#block-block-8 {
//	float: right;
//	background: $opplaBlue;
//	padding:15px;
//	h3 {
//		color: #fff;
//		ont-size: 1em;
//		font-weight: normal;
//		font-family: 'montserrat-regular';
//		margin: 0;
//	}
//	p {
//		font-family: 'montserrat-regular';
//		font-size: 1.1em;
//		color: #fff;
//		margin: 0
//	}
//	.btn.join {
//		font-size: 1.5em;
//		margin: 1em 0;
//	}
//	.btn.join:after {
//		@include icon-font('\e80D');
//		font-size: 120%
//	}
//	.logins .btn {
//		margin-top: 1em
//	}
//	ul,
//	li {
//		padding: 0;
//		margin: 0;
//		list-style: none
//	}
//}


/* === PROFILE === */

.form-item.form-type-managed-file.form-item-profile-details-field-image-und-0 {
	background: $opplaTint;
	padding: 0.5em
}

.view-profile-pictures-on-questions.view-display-id-entity_view_5 img {
	float: right;
	margin: 0 0 1em 1em
}

#user-register-form legend {
	font-size: 1.5em
}

.profile {
	h3 {
		font-size: 1.66em;
		border: none
	}
	.field {
		margin: 0 0 0.5em 0
	}
	.field .field-label {
		color: $opplaBlue;
		font-size: 1.25em;
	}
	.field-type-list-float .field-item:before {
		@include icon-font('\e801');
		color: $opplaBlue;
	}
}
/* === CONTENT === */

#page {
	background: #fff;
}

#main {
	padding: 1em 0;
	position: relative;
}
/* --- FORMS --- */

@import "forms";
.form-submit {
	margin: 1em 0
}

.views-exposed-form .views-exposed-widget {
	padding: 0;
	margin: 0.15em 0.33em;
	&.views-submit-button input {
		font-size: 0.85em;
		margin-right: 1em;
		padding: 0.15em 0.33em;
	}
}

.views-exposed-widget.views-submit-button input,
.form-item-profile-details-field-image-und-0 input.form-submit {
	font-size: 0.85em;
}

.views-exposed-widget .views-reset-button {
	padding-left: 1em;
	overflow: auto;
	text-align: right
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
	border-width: 2px
}

.description,
.resizable.textarea-processed.resizable-textarea {
	//max-width: 600px;
}

#user-login .form-submit:after {
	@include icon-font('\e80C');
	font-size: 120%;
}

@media all and (max-width: 768px) {
	.logins {
		text-align: center
	}
}

#user-register-form .form-submit:after {
	@include icon-font('\e80D');
}

//#user-register-form .form-submit:after {background:#fc0}
label {
	font-size: 1em;
	line-height: 1.2;
	margin-bottom: 0.25em;
}

label:not(.option) {
	text-transform: uppercase
}

.fieldset-wrapper label {
	text-transform: none
}

fieldset {
	//max-width: 600px;
	border: none;
	padding: 0;
	margin: 0;
	.form-item {
		margin: 0.75em 0
	}
	label {
		text-transform: none;
		color: $opplaDarkGrey;
	}
	input.text-full.form-text {
		width: 100%
	}
}

label:not(.option) {
	font-family: 'montserrat-semibold';
	font-weight: normal;
	color: $opplaDarkGrey;
}

html.js .collapsed .fieldset-legend,
html.js .collapsible .fieldset-legend {
	background-image: none
}

html.js .collapsible .fieldset-legend {
	width: 100%;
	margin: 0;
	padding: 0;
	a {
		color: #fff;
		background: $opplaDarkGrey;
		&:before {
			@include icon-font('\e811');
			margin-right: 0;
			margin-left: 0.5em;
			width: auto;
		}
	}
}

html.js .collapsed {
	height: auto;
	.fieldset-legend a {
		color: $opplaDarkGrey;
		background: $opplaLightGrey;
		background: $opplaDarkMidGrey;
		&:before {
			@include icon-font('\e814');
			margin-right: 0;
			margin-left: 0.5em;
			width: auto;
		}
	}
}

html.js .form-item-field-ecosystem-types-tid .collapsed .fieldset-legend a,
html.js .form-item-field-ecosystem-types-tid .collapsible .fieldset-legend a {
	@include opplaTopLozenge();
}

html.js fieldset.collapsed {
	height: auto
}

fieldset {
	color: $opplaDarkGrey;
	background-image: none;
	//max-width: 600px;
	border: none;
	margin: 0;
	padding: 0;
	clear: both;
	float: none;
	legend {
		margin: 0;
		font-size: 1em;
		margin: 0;
		padding: 0;
		width: 100%;
		a {
			color: $opplaDarkGrey;
			font-size: 1em;
			display: block;
			width: 100%;
			text-decoration: none;
			padding: 0.5em 0;
			margin: 0;
		}
		&:hover {
			color: $opplaBlack!important;
		}
		.summary {
			display: none
		}
		legend:hover {
			color: $opplaBlack!important;
		}
	}
	.fieldset-wrapper {
		background: $opplaLightGrey;
		@include opplaLowerLozenge();
		margin: 0;
		padding: 0.25em 0.5em;
		border-top: 3px solid #fff;
		border-bottom: 3px solid #fff;
		label.option {
			font-size: 0.85em
		}
	}
}

fieldset#edit-picture.form-wrapper {
	display: none
}

.user-info-from-cookie fieldset .fieldset-wrapper,
.comment-form fieldset .fieldset-wrapper {
	padding: 0;
	background: #fff;
	border: none
}
/* === QUESTION VIEW === */

.views-exposed-widget {
	/* --- Exposed filters --- */
	
	position: relative;
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
	&.views-submit-button, &.views-reset-button {
		padding: 0;
		.form-submit {
			font-size: 0.85em;
			margin: 0.5em 0 0 0;
			float: left;
		}
		.form-item-sort-by,
		.form-item-sort-order {
			font-size: 0.85em;
			clear: none;
			display: inline-block;
			width: auto;
			margin-right: 1em
		}
		&.views-submit-button .form-submit {
			margin: 1em 0 0 0;
		}
	}
	fieldset {}
	.bef-toggle {
		font-size: .75em;
		color: $opplaBlue;
		font-family: 'montserrat-semibold';
		font-weight: normal;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			color: $opplaDarkGrey;
		}
	}
}

.view-questions {
	.views-row {
		/* --- Content  --- */
		
		img {
			float: left;
		}
		.wrapper {
			margin: 0 0 1em 92px;
			p {
				margin: 0;
				strong {
					font-weight: normal
				}
			}
			h4 {
				font-family: 'montserrat-semibold';
				font-weight: normal;
				font-size: 1.25em;
				line-height: 1.3;
				margin: 0 0 4px 0;
				a {
					text-decoration: none;
					&:hover {
						color: $opplaDarkGrey;
					}
				}
			}
		}
		.read-more {
			float: none;
			margin: 1em 0;
			text-align: right;
			a {
				font-size: 0.9em;
			}
		}
	}
	.view-content {
		padding-top: 1.5em;
	}
	hr {
		margin: 1em 0
	}
}
/* === QUESTION NODE === */

.node-oppla-question {
	.view-display-id-entity_view_1 {
		/* --- Image --- */
		
		float: left;
		margin: 0 20px 0.5em 0;
	}
	.wrapper {
		margin: 0 0 0 92px;
		h4 {
			font-family: 'montserrat-semibold';
			font-weight: normal;
			font-size: 1.25em;
			line-height: 1.3;
			margin: 0 0 4px 0;
		}
		.view-profile-pictures-on-questions.view-display-id-entity_view_2 {
			/* --- Author --- */
			
			margin: 0 0 0.5em 0;
		}
	}
}
/* === QUESTION  COMMENTS=== */

.comment-wrapper,
.comment {
	p {
		margin: 0 0 0.5em 0;
	}
	.links {
		margin: 0 0 0.5em 0;
		float: right;
		a {
			font-family: 'montserrat-semibold';
			font-size: 0.75em;
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				color: $opplaDarkGrey;
			}
		}
	}
}

li.comment-add a,
.view-questions .read-more a {
	font-family: 'montserrat-semibold';
	font-size: 0.75em;
	text-transform: uppercase;
	text-decoration: none;
	float: none;
	text-align: left;
	&:hover {
		color: $opplaDarkGrey;
	}
}

li.comment-add {
	float: right;
	text-align: left;
}

li.comment_forbidden {
	font-family: 'montserrat-semibold';
	font-size: 0.75em;
	text-transform: uppercase;
	text-decoration: none;
	float: none;
	text-align: left;
	a {
		font-size: 1em;
		&:hover {
			color: $opplaDarkGrey;
		}
	}
}

//.view-questions .read-more {float: none;}
.field-type-fivestar {
	float: left;
	padding-bottom: 0.5em
}

.comment-wrap {
	clear: both;
}

mark.new {
	font-family: 'montserrat-semibold';
	font-size: 0.85em;
	text-transform: uppercase;
	padding-left: 0.5em
}

.comment-id {
	float: right;
	text-align: right;
	&:link, &:visited {
		color: $opplaLightGrey;
		text-decoration: none;
	}
	&:hover {
		color: $opplaBlue;
		text-decoration: underline
	}
}

.comment-image {
	float: left;
}

.comment-text {
	margin: 0 0 0 77px;
}

.indented {
	margin-left: 7.5%
}

@media all and (max-width: 768px) {
	.view-questions {
		.views-row {
			img {
				width: 60px;
			}
			.wrapper {
				margin: 0 0 1em 75px;
			}
		}
	}
	.node-oppla-question {
		.view-display-id-entity_view_1 {
			margin-right: 15px;
		}
		.views-field-field-image {
			width: 50px;
		}
		.wrapper {
			margin-left: 60px;
			.comment-text {
				margin-left: 55px;
			}
			.views-field-field-image {
				width: 45px;
			}
		}
	}
	.indented {
		margin-left: 5%
	}
}

@media all and (max-width: 500px) {
	.view-questions {
		.views-row {
			img {
				width: 50px;
			}
			.wrapper {
				margin: 0 0 1em 60px;
			}
		}
	}
	.node-oppla-question {
		.view-display-id-entity_view_1 {
			margin-right: 10px;
		}
		.views-field-field-image {
			width: 40px;
		}
		.wrapper {
			margin-left: 45px;
			.comment-text {
				margin-left: 45px;
			}
			.views-field-field-image {
				width: 36px;
			}
		}
	}
	.indented {
		margin-left: 3.5%
	}
}
/* === FOOTER === */

#footer {
	background: $opplaMidGrey;
	padding: 1em 25px;
	margin: 0 -11px;
}

#block-menu-block-2 ul,
#block-menu-block-2 li {
	padding: 0;
	margin: 0;
	list-style: none
}
/* --- Footer Menu block --- */

#block-menu-block-3,
#block-menu-block-2 {
	margin: 0;
	ul.menu {
		padding: 0;
		margin: 0 0 1em -1.5%;
		width: 101.5%;
		clear: both;
		float: none;
		li {
			border-top: 5px solid #fff;
			width: 15.1111%;
			margin-left: 1.5%;
			display: block;
			float: left;
			a {
				font-family: 'montserrat-semibold';
				color: $opplaBlack;
				font-size: 0.9em;
				font-weight: normal;
				text-decoration: none;
				text-transform: uppercase;
				border-bottom: 1px solid #fff;
				padding: 6px 0 5px 0;
				display: block;
				&:hover {
					color: $opplaBlack;
					text-decoration: underline;
				}
			}
			ul {
				padding: 0.75em 0.5em 0.75em 0;
				li {
					border: none;
					font-size: 0.8em;
					display: inline-block;
					float: none;
					width: 100%;
					padding: 0;
					&:before {
						@include icon-font('\e817');
						color: $opplaBlue;
						font-size: 90%;
						padding-right: 3px;
					}
					a {
						font-family: 'lato-regular';
						color: $opplaDarkGrey;
						font-weight: bold;
						text-transform: none;
						border: none;
						padding: 0;
						display: inline-block;
					}
				}
			}
		}
	}
}

#block-menu-block-3 {
	clear: left;
	float: left;
	width: 18%;
	ul.menu {
		width: auto;
		margin: 0;
		li {
			width: 100%!important;
			margin: 0!important;
			clear: both;
			float: none;
		}
	}
}
/* --- Footer Menu block --- */
/* --- EU block --- */

#block-block-3 {
	float: right;
	clear: both;
	margin: 0;
	width: 400px
}

#block-block-3 p {
	font-size: 0.7em;
	line-height: 1.5;
	text-align: right
}

#block-block-3 img {
	float: right;
	border: 3px solid #fff;
	margin: 0 0 0 2em;
	height: 70px;
	width: auto;
}
/* --- copywrite block --- */

#block-block-4 {
	float: none;
	clear: both;
	margin: 0;
	hr {
		margin: 0
	}
	p {
		margin: 0;
		font-size: 0.7em
	}
}

@media all and (max-width: 768px) {
	#block-menu-block-2 ul.menu li  {
		width: 31.5%;
		a {
			display: block;
			padding-top: 0.25em;
			padding-bottom: 0.25em;
		}
	}
	#block-block-3 {
		padding-top: 1em
	}
}

@media all and (max-width: 625px) {
	#block-menu-block-2 ul.menu li {
		width: 48.5%;
		a {
			display: block;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
	}
	#block-block-3 {
		float: none;
		width: 100%;
		img {
			float: none;
			display: block;
			margin: 1em auto;
		}
		p {
			text-align: center
		}
	}
	#block-block-4 {
		float: none;
		clear: none;
		width: 100%;
		margin: 0;
		p {
			text-align: center
		}
	}
}

@media all and (max-width: 500px) {
	#block-menu-block-2 ul.menu li {
		width: 98.5%;
		a {
			display: block;
			padding-top: 0.75em;
			padding-bottom: 0.75em;
		}
	}
}