/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */


/* Import Sass mixins, variables, Compass modules, etc. */

@import "init";

/* HTML element (SMACSS base) rules */

@import "normalize";

/* Layout rules */

@import "layouts/responsive";

/* Component (SMACSS module) rules */

@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */


/* @import "theme-A"; */


/* @import "theme-B"; */


/*/Brand colours
		Teal colour #009ba4
		Teal tint colour #d5ecef
		Grey colour #6D6E71
		/*/

//@import "mixins";

/* === NAVIGATION === */

@import "navigation";
@import "flippy";

/* === TYPESETTING === */

@import "fonts";
html,
body {
    color: $opplaDarkGrey;
    font-size: 18px;
    font-size: 100%;
    line-height: 1.4;
    @include lato55;
    padding: 0;
    margin: 0;
    &:not(.cke_editable) {}
    * {box-sizing: border-box;}
}

h1,
h2,
h3,
dt,
legend,
.field .field-label {
    @include headBold;
    line-height: 1.2;
    color: $opplaDarkGrey;
}

h1.page__title {
    color: $opplaBlue;
    @include headReg;
    margin-bottom: 0.5em;
}

h2,
h3,
dt,
.field .field-label,
legend {
    font-size: 2em;
    color: $opplaBlue;
    margin: 1em 0 0.25em;
}

h3,
dt,
.field .field-label,
legend {
    font-size: 1.5em;
}

li {
    margin: 0 0 0.5em;
}

th,
h4,
b,
strong {
    @include lato75;
}

i,
em {
    @include lato56;
}

stong em,
em strong {
    @include lato76;
}

p,
dd,
ul,
ol,
ul:not(.quicktabs-tabs),
ul:not(.tabs-primary),
ul:not(.tabs-primary) li:last-child {
    margin: 0 0 1em 0;
}

a:link,
a:visited {
    color: $opplaBlue;
}

a:hover {
    color: $opplaBlack;
}

a[target="_blank"]:after,
a[href^="mailto:"]:after {
    font-size: 1em;
    content: "\e803";
    font-family: 'oppla_icons';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin: 0 .25em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

a[href^="mailto:"]:after {
    content: "\e800";
}

table {
    border-top: 3px solid $opplaMidGrey;
    tr {
        td,
        th {
            text-align: left;
            line-height: 1.2;
            padding: 0.25em 0.25em 0.25em 0.5em;
            border-bottom: 3px solid $opplaMidGrey;
            background: $opplaMidGrey;
            p,
            li {
                margin: 0 0 2px 0;
                line-height: 1.2;
            }
            ul {
                margin: 0;
                &:not(.quicktabs-tabs):not(.tabs-primary):not(.tabs-primary) {
                    margin: 0;
                    li:last-child {
                        margin: 0 0 2px 0;
                    }
                }
            }
            th {}
            td {
                border-bottom: 1px solid $opplaMidGrey;
                background: $opplaLightGrey;
            }
            &:nth-child(even) td {
                background: $opplaLightestGrey;
            }
        }
    }
}

hr {
    color: $opplaMidGrey;
    height: 2px;
    border: none;
    border-top: 2px solid $opplaMidGrey;
    margin: 1em 0;
    clear: both;
    float: none;
}

.views-row-last hr {
    display: none;
}

ul.nolist,
ul.nolist li {
    list-style: none;
    margin: 0;
    padding: 0;
    .inline & {
        display: inline-block;
    }
}

.pager {
    padding-top: 2em;
    a {
        @include headReg;
        text-transform: uppercase;
        color: $opplaBlue;
        border: 2px solid $opplaBlue;
        background: #fff;
        line-height: 1;
        padding: 0.125em 0.5em;
        @include opplaLozenge;
        text-decoration: none;
        &:hover {
            color: $opplaDarkGrey;
            border: 2px solid $opplaDarkGrey;
            background: $opplaTint;
        }
        &:active {
            color: #fff;
            border: 2px solid $opplaDarkBlue;
            background: $opplaDarkBlue;
        }
    }
    .pager-current {
        @include headReg;
        text-transform: uppercase;
        color: #fff;
        border: 2px solid $opplaDarkBlue;
        background: $opplaDarkBlue;
        line-height: 1;
        padding: 0.125em 0.5em;
        @include opplaLozenge;
        text-decoration: none;
    }
}


/* === HEADER === */

.header_wrapper {
    background: #fff;
    padding: 20px 20px 1px 20px;
    margin: -20px -20px 0 -20px;
}

//.header * { border:1px red dotted}
a#logo.header__logo {
    float: left;
    clear: left;
    width: 300px;
    margin: 0 0 1em 0;
    display: block;
    .header__logo img {
        width: 100%;
        height: auto;
    }
}

#block-block-2 {
    float: right;
    clear: right;
}

.header__region {
    clear: none;
    margin-bottom: 1em;
    float: right;
    clear: right;
}

@media all and (max-width: 600px) {}


/* ---- Search box ---- */

#block-search-form * {
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
}

#block-search-form {
    float: right;
    clear: right;
    border: 1px solid $opplaDarkGrey;
    padding: 6px 6px 2px 6px;
    margin: 0 0 1em 0;
    width: 300px;
    @include opplaLozenge;
    .custom-search-box.form-text {
        //background:#bada55;
        width: 282px;
        width:90%;
        float: none;
        font-size: 1em;
        padding: 1px 0 5px 0;
    }
    .custom-search-button {
        float: right;
        height: 18px;
        width: 18px;
    }
}


/* ---- Social links ---- */

@import "social_links";
#block-menu-menu-social-links {
    float: right;
    margin-right: 1em;
}


/* === USER MENU === */

#block-system-user-menu {
    float: right;
    clear: right;
    margin: 0;
    padding: 0;
    .menu {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            display: inline-block;
            margin-right: 0.5em;
        }
        li.last {
            margin-right: 0;
        }
        a {
            @include btn-white(1em);
            line-height: 1.4;
            padding: 0.15em 0.4em;
        }
        .ask {
            background: $opplaDarkBlue;
            border-color: $opplaDarkBlue;
            color: #fff !important;
            &:hover {
                background: $opplaDarkBlue !important;
                border-color: $opplaDarkBlue !important;
            }
            span {
                //				padding: 0.2em 0.2em;
                //				border: 0.2em solid $opplaGold;
                //				@include opplaLozenge();
            }
        }
        .logout:after {
            @include icon-font("");
            font-size: 120%;
        }
        .login:after,
        .myaccount:after {
            @include icon-font("");
            font-size: 120%;
        }
    }
}

@media all and (max-width: 768px) {
    #block-system-user-menu .myaccount span {
        display: none;
    }
}

@media all and (max-width: 768px) {}


/* ---- Header responsive ---- */

@media all and (max-width: 960px) {
    #block-search-form {
        width: 238px;
        .custom-search-box.form-text {
            //width: 220px;
        }
    }
}

@media all and (max-width: 768px) {
    .header__region {
        position: relative;
        clear: none;
        float: none;
    }
    #block-menu-menu-social-links {
        display: none;
    }
    #block-system-user-menu .menu {
        a {
            &.myacount {
                text-indent: 0;
                &:after {
                    text-indent: 0px;
                }
            }
        }
    }
    #block-search-form {
        width: 218px;
        .custom-search-box.form-text {
            //width: 200px;
        }
    }
}

@media all and (max-width: 600px) {
    a#logo.header__logo {
        margin-top: 0;
        float: none;
        clear: both;
        display: block;
        margin: 1em auto;
        text-align: center;
    }
}

@media all and (max-width: 480px) {
    .toggler,
    #block-search-form {
        float: none;
        clear: both;
        display: block;
        margin: 0 auto 1em auto;
    }
    .toggler {
        width: auto;
        display: inline-block;
        margin: 0 0 1em 0;
    }
    #block-search-form {
        width: 94%;
        padding-right: 3%;
        padding-left: 3%;
        .custom-search-box.form-text {
            //width: inherit;
            width: 80%;
            display: inline-block;
            margin-right: 24px;
        }
        .custom-search-button {
            width: 10%;
            max-width: 18px;
        }
    }
    #block-system-user-menu {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    a#logo.header__logo {
        width: 95%;
        margin: 1em 2.5%;
    }
}


/* ---- FRONT PAGE ---- */

//@import "flexslider";
.front #content.column {
    background: $opplaBlue;
    overflow: auto;
    padding: 0 25px 25px 25px;
    margin: 0 -20px 25px -20px;
    .node-page {
        float: left;
        width: 30%;
        padding: 0;
    }
    h1 {
        font-size: 3em;
        color: $opplaBlack;
        background: $opplaBlue;
        margin-bottom: 0;
        margin-left: -25px;
        margin-right: -25px;
        padding: 1rem 0.5rem 1rem 25px;
        em {
            color: #fff;
            font-style: normal;
        }
    }
    h2 {
        color: #fff;
        font-size: 1.66em;
        @include headReg;
        margin: 0;
    }
    p {
        @include headReg;
        font-size: 1.1em;
        color: #fff;
    }
}

.btn.join {
    margin: 1em 0;
    font-size: 1rem;
}

.btn.join:after {
    @include icon-font("");
    font-size: 110%;
}

.front-page-block,
#block-views-front-page-banner-block-block,
#block-block-6,
#block-block-13 {
    float: right;
    background: $opplaBlue;
    margin: 0 0 0em 1.5%;
    width: 66%;
    img {
        width: 100%;
    }
    p {
        margin: 0;
    }
    ul,
    li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

@media all and (max-width: 768px) {
    .front-page-block,
    #block-views-front-page-banner-block-block,
    #block-block-6,
    #block-block-13 {
        float: none;
        clear: both;
        margin: 1em 0;
        width: 100%;
        text-align: center;
        p {
            text-align: center;
        }
        img {
            text-align: center;
            display: inline-block;
            margin: 0 auto;
        }
    }
    .front #content.column {
        .node-page {
            float: none;
            clear: both;
            margin: 1em 0;
            width: 100%;
        }
        h2 {
            float: left;
        }
        p {
            float: right;
            clear: right;
            .btn.join {
                margin-top: 0;
                float: right;
            }
        }
    }
}

@media all and (max-width: 480px) {
    .front #content.column {
        h1,
        h3,
        p {
            text-align: center;
        }
        h1 {
            font-size: 2.5em;
            em {
                display: none;
            }
        }
    }
}

.front #content.column p.videoWrapper {
    float: none;
    clear: both;
    margin: 0;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 0;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media all and (min-width: 768px) {
    //.videoWrapper { max-width:615px;}
}


/* ---- HIGHLIGHTED BLOCKS ---- */

@import "highlighted";

/* ---- CONTENT BLOCKS ---- */

.content_blocks .region-content-blocks {
    width: 101.5%;
    margin-left: -1.5%;
    .block {
        margin: 0 0 1em 1.5%;
        width: 31.833%;
        float: left;
        h2.block-title {
            @include headReg;
            font-size: 1.25em;
            color: #fff;
            margin: 0;
            padding: 15px;
            background: $opplaDarkGrey;
            @include opplaTopLozenge;
            &:after {
                @include icon-font("");
                float: right;
                font-size: 150%;
                line-height: 0.5;
            }
        }
        .block-content {
            background: $opplaLightGrey;
            border-top: 4px solid #fff;
        }
        .block-view-footer {
            @include headReg;
            color: $opplaDarkGrey;
            font-size: 1.25em;
            padding: 15px;
            margin: 0;
            background: $opplaDarkMidGrey;
            border-top: 4px solid #fff;
            @include opplaLowerLozenge;
            a {
                color: $opplaDarkGrey;
                text-decoration: none;
                &:hover {
                    color: $opplaBlue;
                }
            }
        }
    }
}

.content_blocks .region-content-blocks {
    #block-views-news-articles-block {
        h2.block-title:after {
            @include icon-font("");
        }
    }
    #block-views-events-block {
        h2.block-title:after {
            @include icon-font("");
        }
    }
    #block-twitter-block-1 {
        h2.block-title:after {
            @include icon-font("");
        }
    }
}

@media all and (max-width: 768px) {
    .content_blocks .region-content-blocks {
        .block {
            width: 48.5%;
        }
        .block-twitter-block {
            width: 98.5%;
            clear: both;
            float: none;
        }
    }
}

@media all and (max-width: 500px) {
    .content_blocks .region-content-blocks {
        .block {
            width: 98.5%;
            clear: both;
            float: none;
        }
    }
}


/* === TWITTER === */

#block-twitter-block-1 .block-content {}

#block-twitter-block-1 iframe {
    width: 100% !important;
    max-width: 100% !important;
}


/* === NEWS / EVENTS BLOCKS === */

.block.escom-events,
#block-views-news-articles-block,
#block-views-events-block {
    .block-content {
        @include opplaTopLozenge;
        .view-content {
            padding: 0 15px;
            .views-row {
                border-top: 3px solid $opplaBlue;
                padding: 8px 0px;
                &.views-row-1 {
                    border-top: none;
                    padding-top: 6px;
                }
                h3 {
                    font-size: 1em;
                    margin: 0;
                    a {
                        color: $opplaDarkGrey;
                        text-decoration: none;
                        &:hover {
                            color: $opplaBlue;
                        }
                    }
                }
                p,
                .date-display-range {
                    font-size: 0.85em;
                    line-height: 1.3;
                    margin: 0.25em 0;
                }
            }
        }
    }
}

@media all and (min-width: 500px) {
    #block-views-news-articles-block .view-content,
    #block-twitter-block-1 .block-content,
    #block-views-events-block .view-content {
        height: 450px;
        overflow: hidden;
    }
    #block-twitter-block-1 .block-content {
        overflow: hidden;
        padding: 0 0 0 15px;
    }
}


/* === NEWS / EVENTS NODES === */

.node-teaser {
    h2 {
        font-size: 1.5em;
        a {
            color: $opplaDarkGrey;
            text-decoration: none;
            &:visited {
                color: $opplaDarkGrey;
            }
            &:hover {
                color: $opplaBlue;
            }
        }
    }
}

.node-news-article .field.field-name-field-image img,
.node-event .field.field-name-field-image img {
    float: right;
    margin: 0 0 1em 1.5em;
}

@media all and (max-width: 768px) {
    .node-news-article .field-name-field-image img,
    .node-event .field-name-field-image img {
        width: 50%;
        max-width: 220px;
    }
}

@media all and (max-width: 500px) {
    .node-news-article .field-name-field-image img,
    .node-event .field-name-field-image img {
        float: none !important;
        margin: 1em 0 !important;
        width: auto !important;
    }
}

.field-name-field-event-date,
.date-display-range,
.field-name-field-date {
    margin: 1em 0;
}

.field-name-field-location,
.field-name-field-date {
    margin: 1em 0;
}


/* === ASK NODE === */

.field-type-taxonomy-term-reference.field-label-above .field-item {
    display: inline;
    &:after {
        content: ",";
        padding-right: 0.5em;
    }
    &:last-child:after {
        content: " ";
        padding-right: 0em;
    }
}

.field-group-accordion-wrapper h3:first-child {
    @include opplaTopLozenge;
}

.node-oppla_question-form .form-item .description {
    font-size: 1em;
    p {
        margin: 0.5em 0;
    }
}


/* === SIDEBAR (common) === */

.region-sidebar-second .block-views {
    font-size: 85%;
    line-height: 1.3;
    ul:not(.pager) {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
        }
    }
}


/* === CONTENT === */

.breadcrumb {
    background: #fff;
    padding: 10px;
    @include opplaLozenge;
}

#page {
    background: #fff;
}

#main {
    padding: 1em 0;
    position: relative;
}

@media all and (min-width: 600px) {
    .half_column {
        position: relative;
        img {
            width: 48.5%;
            margin-right: 1.5%;
            //float: left;
            display: inline-block;
        }
        strong {
            position: absolute;
            bottom: 0;
        }
    }
}


/* === Case study (old) === */

table.case-study {
    font-size: 0.8em;
    border-bottom: #494949 solid 1px;
    td,
    th {
        background: $opplaLightGrey;
        vertical-align: top;
        border-top: #494949 solid 1px;
        padding: 4px 8px 4px 4px;
        text-align: left;
        &:last-child,
        &:last-child {
            padding-right: 4px;
        }
    }
    th {
        @include lato75;
    }
}

.case-studies {
    display: block;
    margin-right: -1.5%;
    width: 101.5%;
    li {
        padding-bottom: 1em!important;
        //border: 1px solid purple;
        text-align: center;
        width: 31.5%;
        margin-right: 1.5% !important;
        display: block;
        float: left;
        img {
            width: 100%;
        }
        a {
            width: 100%;
            text-align: center;
            background: $opplaLightGrey;
            text-decoration: none;
            display: block;
            padding-bottom: 4px;
            &:hover {
                background: $opplaMidGrey;
            }
        }
        &:nth-child(3n+1) {
            clear: left;
        }
    }
    @media all and (max-width: 768px) {
        li {
            width: 48.5%;
            a {
                margin-bottom: 1em;
            }
            &:nth-child(3n+1) {
                clear: none;
            }
            &:nth-child(odd) {
                clear: left;
            }
        }
    }
    @media all and (max-width: 400px) {
        li {
            width: 98.5%;
            margin-right: 1.5% !important;
            padding-bottom: 0!important;
            float: none;
            clear: both
        }
    }
}


/* --- FORMS --- */

@import "forms";

/* === QUESTION VIEW === */

.sidebar .views-exposed-widget {
    /* --- Exposed filters --- */
    position: relative;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    &.views-submit-button,
    &.views-reset-button {
        padding: 0;
        .form-submit {
            font-size: 0.85em;
            margin: 0.5em 0 0 0;
            float: left;
        }
        .form-item-sort-by,
        .form-item-sort-order {
            font-size: 0.85em;
            clear: none;
            display: inline-block;
            width: auto;
            margin-right: 1em;
        }
        &.views-submit-button .form-submit {
            margin: 1em 0 0 0;
        }
    }
    fieldset {}
    .bef-toggle {
        font-size: .75em;
        color: $opplaBlue;
        @include headBold;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            color: $opplaDarkGrey;
        }
    }
}

.view-questions {
    .views-row {
        /* --- Content  --- */
        img {
            float: left;
        }
        .wrapper {
            margin: 0 0 1em 92px;
            p {
                margin: 0;
                strong {
                    font-weight: normal;
                }
            }
            h4 {
                @include headBold;
                font-size: 1.25em;
                line-height: 1.3;
                margin: 0 0 4px 0;
                a {
                    text-decoration: none;
                    &:hover {
                        color: $opplaDarkGrey;
                    }
                }
            }
        }
        .read-more {
            float: none;
            margin: 1em 0;
            text-align: right;
            a {
                font-size: 0.9em;
            }
        }
    }
    .view-content {
        padding-top: 1.5em;
    }
    hr {
        margin: 1em 0;
    }
}


/* === QUESTION NODE === */

.node-oppla-question {
    .view-display-id-entity_view_1 {
        /* --- Image --- */
        float: left;
        margin: 0 20px 0.5em 0;
    }
    .wrapper {
        margin: 0 0 0 92px;
        h4 {
            @include headBold;
            font-size: 1.25em;
            line-height: 1.3;
            margin: 0 0 4px 0;
        }
        .view-profile-pictures-on-questions.view-display-id-entity_view_2 {
            /* --- Author --- */
            margin: 0 0 0.5em 0;
        }
    }
}


/* === QUESTION COMMENTS === */

.comment-wrapper,
.comment {
    p {
        margin: 0 0 0.5em 0;
    }
    .links {
        margin: 0 0 0.25em 0;
        float: right;
        a {
            @include headBold;
            font-size: 0.75em;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
                color: $opplaDarkGrey;
            }
        }
    }
    hr {
        margin: 0.5em 0;
    }
}

li.comment-add a,
.view-questions .read-more a {
    @include headBold;
    font-size: 0.75em;
    text-transform: uppercase;
    text-decoration: none;
    float: none;
    text-align: left;
    &:hover {
        color: $opplaDarkGrey;
    }
}

li.comment-add {
    float: right;
    text-align: left;
}

li.comment_forbidden {
    @include headBold;
    font-size: 0.75em;
    text-transform: uppercase;
    text-decoration: none;
    float: none;
    text-align: left;
    a {
        font-size: 1em;
        &:hover {
            color: $opplaDarkGrey;
        }
    }
}

//.view-questions .read-more {float: none;}
.field-type-fivestar {
    float: left;
    padding-bottom: 0.5em;
}

.comment-wrap {
    clear: both;
}

mark.new {
    @include headBold;
    font-size: 0.85em;
    text-transform: uppercase;
    padding-left: 0.5em;
}

.comment-id {
    float: right;
    text-align: right;
    &:link,
    &:visited {
        color: $opplaDarkMidGrey;
        text-decoration: none;
    }
    &:hover {
        color: $opplaBlue;
        text-decoration: underline;
    }
}

.comment-image {
    float: left;
}

.comment-text {
    //margin: 0 0 0 77px;
}

.indented {
    margin-left: 7.5%;
}

@media all and (max-width: 768px) {
    .view-questions {
        .views-row {
            img {
                width: 60px;
            }
            .wrapper {
                margin: 0 0 1em 75px;
            }
        }
    }
    .node-oppla-question {
        .view-display-id-entity_view_1 {
            margin-right: 15px;
        }
        .views-field-field-image {
            width: 50px;
        }
        .wrapper {
            margin-left: 60px;
            .comment-text {
                margin-left: 55px;
            }
            .views-field-field-image {
                width: 45px;
            }
        }
    }
    .indented {
        margin-left: 5%;
    }
}

@media all and (max-width: 500px) {
    .view-questions {
        .views-row {
            img {
                width: 50px;
            }
            .wrapper {
                margin: 0 0 1em 60px;
            }
        }
    }
    .node-oppla-question {
        .view-display-id-entity_view_1 {
            margin-right: 10px;
        }
        .views-field-field-image {
            width: 40px;
        }
        .wrapper {
            margin-left: 45px;
            .comment-text {
                margin-left: 45px;
            }
            .views-field-field-image {
                width: 36px;
            }
        }
    }
    .indented {
        margin-left: 3.5%;
    }
}


/* === FOOTER === */

#footer {
    background: $opplaMidGrey;
    padding: 1em 25px;
    margin: 0 -20px;
}

.block.footer-menu ul,
.block.footer-menu li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#block-menu-block-3 {
    clear: left;
    float: left;
    width: 18%;
    ul.menu {
        width: auto;
        margin: 0;
        li {
            width: 100% !important;
            margin: 0 !important;
            clear: both;
            float: none;
        }
    }
}


/* --- Footer Menu block --- */


/* --- EU block --- */

#block-block-3 {
    float: right;
    clear: both;
    margin: 0;
    width: 400px;
}

#block-block-3 p {
    font-size: 0.7em;
    line-height: 1.5;
    text-align: right;
}

#block-block-3 img {
    float: right;
    border: 3px solid #fff;
    margin: 0 0 0 2em;
    height: 70px;
    width: auto;
}


/* --- copyright block --- */

#block-block-4 {
    float: none;
    clear: both;
    margin: 0;
    hr {
        margin: 0;
    }
    p {
        margin: 0;
        font-size: 0.7em;
    }
}

@media all and (max-width: 768px) {
    .block.footer-menu ul.menu li {
        width: 31.5%;
        a {
            display: block;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }
    }
    #block-block-3 {
        padding-top: 1em;
    }
}

@media all and (max-width: 625px) {
    .block.footer-menu ul.menu li {
        width: 48.5%;
        a {
            display: block;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }
    #block-block-3 {
        float: none;
        width: 80%;
        margin: 0 10%;
    }
    #block-block-4 {
        float: none;
        clear: none;
        width: 100%;
        margin: 1em 0 0 0;
        p {
            text-align: center;
        }
    }
}

@media all and (max-width: 500px) {
    .block.footer-menu ul.menu li {
        width: 98.5%;
        a {
            display: block;
            padding-top: 0.75em;
            padding-bottom: 0.75em;
        }
    }
    #block-block-3 {
        width: 100%;
        margin: 0%;
        img {
            float: none;
            display: block;
            margin: 1em auto;
        }
        p {
            text-align: center;
        }
    }
}

//@media all and (min-width: 768px) {
//	.toggler {
//		display: block;
//	}
//}
.description h4 {
    @include headBold;
    font-weight: normal;
    margin-bottom: 0;
}

@media all and (min-width: 500px) {
    h3 img {
        float: right;
        margin: 0 0 1em 1em;
        max-width: 50%;
    }
}

.flag {
    @include headBold;
    font-size: 0;
    text-transform: uppercase;
    text-decoration: none;
    float: none;
    text-align: right;
    &:hover {
        color: $opplaDarkGrey;
    }
    &:after {
        font-size: 18px;
        @include icon-font2("");
    }
    &.flag-action:after {
        content: '\e802';
    }
}

// === WEBFORM === //
.btn.product {
    font-size: 1.15em;
    line-height: 1.5;
    text-align: center;
    background: #fff;
    &:after {
        @include icon-font("");
    }
}

.webform-previous,
.webform-next,
.webform-draft {
    margin-right: 1em;
}

// --- Progress bar --- //
.webform-progressbar-outer {
    border-color: $opplaBlue;
}

.webform-progressbar-page {
    border-color: $opplaBlue;
}

.webform-progressbar-inner,
.webform-progressbar-page.completed,
.webform-progressbar-page.current {
    background: $opplaBlue;
}

input.form-submit.ajax-processed {
    font-size: 85%;
}

// --- Results --- //
table.views-table {
    width: 100%;
    border-top: 2px solid $opplaBlue;
    tr {
        border: none;
        th {
            color: #fff;
            background: $opplaBlue;
            text-align: left;
            padding: 4px;
            border: none;
        }
        &.even td {
            background: $opplaLightGrey;
        }
        &.odd td {
            background: $opplaLightestGrey;
        }
        td {
            color: #494949;
            border: none;
            text-align: left;
            padding: 4px;
            border-bottom: 2px solid $opplaBlue;
            em {
                font-size: 0.75em;
                font-style: normal;
                color: $opplaDarkGrey;
            }
            a {
                @include headBold;
                font-size: 0.75em;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                    color: $opplaDarkGrey;
                }
            }
            &.views-field-view-node a {
                margin: 0 3px;
            }
        }
    }
}

.views-exposed-form .views-exposed-widget {
    margin: 0;
}

.block.search .views-exposed-widgets,
body:not(.page-case-study-finder):not(.page-case-studies):not(.escom) .block.block-views .views-exposed-widgets {
    position: relative;
    padding-top: 5em;
    .views-exposed-widget.views-widget-filter-combine,
    .views-exposed-widget.views-submit-button {
        position: absolute;
        float: left;
        left: auto;
        right: 0;
        top: 0;
        left: auto;
        width: 20%;
        clear: none !important;
        //border: green dotted 1px;
    }
    .views-exposed-widget.views-widget-filter-combine {
        width: 78%;
        right: auto;
        top: 0;
        left: 0;
        label {
            display: none;
        }
        input {
            border-weight: 1px;
            @include opplaLozenge;
        }
    }
    .views-exposed-widget.views-submit-button {
        padding: 0;
        text-align: right;
        .form-submit {
            font-size: 1.25em !important;
            padding: 0.25em 0.4em !important;
            margin-top: 0;
        }
    }
}

// --- colorbox pop-up --- //
#cboxWrapper {
    .view-mode-colorbox {
        .node__title.node-title {
            display: none;
        }
    }
    hr {
        display: none;
    }
}

// --- Marketplace --- //
@import "marketplace";
// --- Community --- //
@import "community";
// --- Case Study --- //
@import "casestudy";
// --- Groups --- //
@import "groups";
// --- EU Cookie banner --- //
.sliding-popup-top {
    background: #00aaad;
    width: 100%;
    padding: 1.25em 0 0.5em 0;
    h2 {
        color: #fff;
        font-size: 1.2em;
        background: transparent!important;
        padding: 0!important;
        -moz-border-radius: 0!important;
        -webkit-border: 0!important;
        border: 0!important;
        -moz-border-radius: 0!important;
        -webkit-border-radius: 0!important;
        border-radius: 0px!important;
        position: relative!important;
        margin: 0 0 0.5em 0!important;
    }
    button {
        font-size: 1em;
        &:hover {
            background: #00494d!important;
            border-color: #00494d!important;
            color: #fff !important;
        }
    }
    p {
        color: #fff;
    }
}

.profile-button-links .btn {
    float: left;
    margin: 1em 1em 0 0;
    font-size: 1em;
    &.cancel {
        background: #fff;
        &:hover {
            color: #fff!important;
            background: #00494d!important;
        }
    }
}

#user-cancel-confirm-form input#edit-cancel {
    margin-left: 1em
}

#user-cancel-confirm-form input#edit-submit {
    margin-right: 1em
}



// --- FEATURE BOXES --- //

.content_blocks .region-content-blocks #block-views-feature-box-block-block.block {
    width: 100%;
    float: none;
    margin: 0;
    .block-content {
        background: transparent;
        border-top: none;
    }
}

.box_span {
    display: flex;
    flex-wrap: wrap;
}

.paragraphs-item-feature {
    display: flex;
    width: 100%;

    .two-column & {
        @media all and (min-width: 768px) {
            width: 50%;
        }
    }
    .three-column & {
        @media all and (min-width: 768px) {
            width: 33.33%;
        }
    }
    .content {
        //background: $opplaSand;
        background: $opplaLightGrey;
        padding: 0;
        margin: 0 0.5em 1em;
        width: 100%;
        @include opplaTopLozenge;
        @media all and (min-width: 480px) {
        
            
        }
        .flex-wrapper {
            display: flex;
            flex-direction: column;
            padding: 10px;
            //padding: 0px;
            width: 100%;
            p {//background: #BADA55;
                margin: 0 0 4px 0;
               flex: 1 0 0%
            }
            h3 {
                @include headReg;
                font-size: 1.25em;
                color: #fff;
                margin: -10px -10px 10px -10px;
                padding: 15px 10px ;
                background: $opplaDarkGrey;
                @include opplaTopLozenge;
                border-bottom: 4px solid #fff;
            }
            img {
                margin:  0 0 0.5em 0;
                width: 100%;
                float: none;
                clear: both;
            }
            @media all and (min-width: 480px) {
                img {
                    float: right;
                    clear: right;
                    margin: 0 0 1em 1em;
                    width: 48.5%;
                }
                
            }
            .button-wrapper {
                text-align: right;
                .btn {
                    //width: auto;
                    // float: right;
                    //clear: right
                }
            }
        }
    }
}