@charset "UTF-8";

/* CSS Document */

@import url("../oppla/css/styles.css");
html:not(.cke_editable),
body:not(.cke_editable),
.container {
	background-image: none;
	margin: 0;
	padding: 0;
	background-color: #fff!important;
	font-size: 1em
}

#page,
.region-bottom {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding: 0 20px 0 0;
}

h1#page-title {
	margin: 0
}

.view-embeddable-case-studies h2.node__title.node-title {
	font-size: 1.5em;
	margin: 1em 0;
}

.view-embeddable-case-studies h2.node__title.node-title a {
	color: #6d6e71;
	text-decoration: none
}

.view-embeddable-case-studies h2.node__title.node-title a:hover {
	color: #242424;
	text-decoration: none;
}



#page .node-case-study.view-mode-full .field-name-field-image ,
.view-embeddable-case-studies .view-header {
	margin: 1em 0
}






.view-embeddable-case-studies img {
	margin: 1em 0
}

@media all and (min-width: 768px) {
	.view-embeddable-case-studies.view-display-id-page_3  img {
		float: right;
		margin: 0 0 0 1.5em
	}
}

@media all and (min-width: 600px) and (max-width: 768px) {
	.view-embeddable-case-studies.view-display-id-page_3  img {
		float: right;
		margin: 0 0 0 1.5em;
		width: 50%;
	}
}

.view-embeddable-case-studies .more {
	font-size: 0.85em;
	float: right;
	clear: right;
	margin: 1em 0;
}

.view-embeddable-case-studies .leaflet-map-pane .more {
	float: none;
}

.view-embeddable-case-studies .views-exposed-form {
	background: #e1e1e1;
	padding: 15px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


.view-embeddable-case-studies  h2.views-label  {font-size: 1.5em;color:#00aaad;}


.view-embeddable-case-studies .view-case-study-map ul {margin-left:-12px}


.view-embeddable-case-studies .view-case-study-map ul li {
    position: relative;
    margin-bottom: 3px;
    list-style: none;
    padding: 0;
}


.view-embeddable-case-studies .view-case-study-map  ul li:before {
    position: absolute;
    content: " \2022";
    color: #00aaad;
    left: -1em;
    top: 0;
}


.view-embeddable-case-studies .views-widget-filter-combine {
	margin-bottom: 1em
}

@media all and (min-width: 768px) {
	.view-embeddable-case-studies .views-widget-filter-combine,
	.view-embeddable-case-studies .views-exposed-widget.views-widget-filter-field_product_scale_value {
		float: left;
	}
	.view-embeddable-case-studies .views-widget-filter-combine {
		width: 70%;
		margin-right: 10%
	}
	.view-embeddable-case-studies .views-exposed-widget.views-widget-filter-field_product_scale_value {
		width: 20%;
		clear: right
	}
}


.poweredbyoppla {
	font-size: 0.85em;
	text-align: center;
	float: none;
	clear: both;
	margin: 1em 0
}

a[target="_blank"]:after ,
.node-case-study.view-mode-full  .more .btn:after ,
.poweredbyoppla  a:after ,
.field-name-body a:after  , 
.field-type-text-long a:after ,
.view-embeddable-case-studies .view-case-study-map  a:after   {
    font-size: 1em;
    content: "\e803";
	font-family: 'oppla_icons';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin: 0 .25em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none
}


a[href^="mailto:"]:after ,
.node-case-study.view-mode-full  .more a[href^="mailto:"].btn:after ,
.poweredbyoppla  a[href^="mailto:"]:after ,
.field-name-body a[href^="mailto:"]:after  , 
.field-type-text-long a[href^="mailto:"]:after {
content: "\e800";


}

